<div class="left twothirds">
	<h1>Client login</h1>
	<div class="mailwrapper">
		<div class="maildiv">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= f.label :email, :class => 'sidelbl' %>
	<%= f.email_field :email, :class => 'fmtext' %><br />
	<%= f.label :password, :class => 'sidelbl' %>
	<%= f.password_field :password, :class => 'fmtext' %><br />
	<% if devise_mapping.rememberable? -%>
		<%= f.label :remember_me, :class => 'sidelbl' %>
		<%= f.check_box :remember_me %>
	<% end -%>
	<div class="fmspacer"><!-- --></div>
	<div class="fmsubmit"><%= f.submit "Sign in" %></div>
<% end %>
		</div>
	</div>
</div>
<div class="right third"> <!-- float column on right and make it 1/3 width -->
	<%= render :partial => "devise/shared/links" %>
</div><!-- end column -->

