<div class="left twothirds">
	<h1>Change your password</h1>
	<div class="mailwrapper">
		<div class="maildiv">
<% if resource.errors.any? %>
			<!--  start message-red -->
			<div id="message-red">
				<table border="0" width="100%" cellpadding="0" cellspacing="0" class="plain">
				<tr>
					<td class="red-left">Please correct the following <%= resource.errors.count == 1 ? "error" : "errors" %>:</td>
					<td class="red-right"><a class="close-red"><%= image_tag "table/icon_close_red.gif" %></a></td>
				</tr>
				</table>
			</div>
			<!--  end message-red -->
<% end %>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= f.hidden_field :reset_password_token %>
<%
	if resource.errors[:password][0]
%>
	<div class="error-left"></div>
	<div class="error-inner"><%= resource.errors[:password][0] %></div>
<%
	end
%>
	<%= f.label :password, "New password", :class => 'sidelbl' %>
	<%= f.password_field :password, :class => 'fmtext' %>
	<br clear="all" />
<%
	if resource.errors[:password_confirmation][0]
%>
	<div class="error-left"></div>
	<div class="error-inner"><%= resource.errors[:password_confirmation][0] %></div>
<%
	end
%>
	<%= f.label :password_confirmation, "Confirm new password", :class => 'sidelbl' %>
	<%= f.password_field :password_confirmation, :class => 'fmtext' %>
	<br clear="all" />
	<div class="fmspacer"><!-- --></div>
	<div class="fmsubmit"><%= f.submit "Change my password", :style => 'width: 160px !important' %></div>
<% end %>
		</div>
	</div>
</div>
<div class="right third"> <!-- float column on right and make it 1/3 width -->
	<%= render :partial => "devise/shared/links" %>
</div><!-- end column -->
